{{ 'xb-278edc1b.min.css' | asset_url | stylesheet_tag }}<section
      class="xb-section id_m2zlmbfb7388k" style="--xb-section-z-index:1;--xb-section-width-desktop:100%;--xb-section-width-tablet:100%;--xb-section-width-mobile:100%;--xb-section-position-type:relative;--xb-section-background-gradient-animated-duration:10s;"   
      data-xb-section-id="id_m2zlmbfb7388k"
      data-xb-section-global="false"
      xo-preset="5861539"
    >
      
  <div class="xb-container" >
    <div
  class="xb-grid id_m2zlmbfb74yel" style="--xb-col-desktop:3;--xb-col-tablet:3;--xb-col-mobile:1;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-layout-spacing-grid-horizontal-desktop:20px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:20px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_m2zlmbfb758u1" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><div
  class="xb-wrapper id_m2zlmbfb76qxr" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:stretch;--xb-wvat:stretch;--xb-wvam:stretch;--xb-wmhd:100%;--xb-wmht:100%;--xb-wmhm:100%;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <h2
  class="xb-heading xb-h2 id_m2zlmbfb77v59" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;" xo-animate="scroll" xo-cascade xo-duration="700" xo-type="fade-up"  
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    About Us
  </div>
</h2>
<div
  class="xb-paragraph xb-typo id_m2zlmbfb78lj2" style="--xb-paragraph-drop-cap-color:;--xb-paragraph-drop-cap-size-desktop:50px;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
  text-binding="text"
  tabindex="-1"
>The chocolate we make is a collaboration with the farm workers who grow, harvest, ferment, and dry the cacao.</div>

  
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb79qr8" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><figure
  class="xb-image xb-image--modifier-01 id_m2zlmbfb80g1p" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1;--xb-image-aspect-ratio-tablet:1;--xb-image-aspect-ratio-mobile:1;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/image_4251.png?v=1721295878'
      loading='lazy'
      alt=""
      width='840'
      height='840'
      xo-intrinsic-width='840'
      xo-intrinsic-height='840'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb81iuc" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><figure
  class="xb-image xb-image--modifier-01 id_m2zlmbfb82lxt" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1;--xb-image-aspect-ratio-tablet:1;--xb-image-aspect-ratio-mobile:1;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Rectangle_162.png?v=1721295971'
      loading='lazy'
      alt=""
      width='840'
      height='840'
      xo-intrinsic-width='840'
      xo-intrinsic-height='840'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb83clr" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><figure
  class="xb-image xb-image--modifier-01 id_m2zlmbfb84ute" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1;--xb-image-aspect-ratio-tablet:1;--xb-image-aspect-ratio-mobile:1;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Place_Holder3.png?v=1721296434'
      loading='lazy'
      alt=""
      width='840'
      height='840'
      xo-intrinsic-width='840'
      xo-intrinsic-height='840'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb85jva" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><div
  class="xb-wrapper id_m2zlmbfb86qh3" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:center;--xb-wvat:center;--xb-wvam:center;--xb-wmhd:100%;--xb-wmht:100%;--xb-wmhm:100%;--xb-whad:center;--xb-what:center;--xb-wham:center;--xb-wwrd:undefined;--xb-wwrt:undefined;--xb-wwrm:undefined;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div
  class="xb-star-rating xb-star-rating--left id_m2zlmbfb87da0" style="
      --xb-star-rating-size-desktop: 18px;
      --xb-star-rating-size-tablet: 18px;
      --xb-star-rating-size-mobile: 18px;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
>
  
        <span class="xb-star-rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        </span>
      
        <span class="xb-star-rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        </span>
      
        <span class="xb-star-rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        </span>
      
        <span class="xb-star-rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        </span>
      
        <span class="xb-star-rating__item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        </span>
      
</div>
<div
  class="xb-paragraph xb-typo id_m2zlmbfb88dmf" style="--xb-paragraph-drop-cap-color:#fc1010;--xb-paragraph-drop-cap-size-desktop:50px;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
  text-binding="text"
  tabindex="-1"
>“As a fan of all things coconut, our Coconut Macaroons Covered in Dark Chocolate are my favorite treat.”</div>
<div
  class="xb-heading xb-div id_m2zlmbfb89xoo" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>John Doe</p>
  </div>
</div>

  
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb900a2" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><figure
  class="xb-image xb-image--modifier-01 id_m2zlmbfb91p0r" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1;--xb-image-aspect-ratio-tablet:1;--xb-image-aspect-ratio-mobile:1;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Rectangle_624.png?v=1721296434'
      loading='lazy'
      alt=""
      width='840'
      height='840'
      xo-intrinsic-width='840'
      xo-intrinsic-height='840'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb9296m" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><figure
  class="xb-image xb-image--modifier-01 id_m2zlmbfb93h97" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1;--xb-image-aspect-ratio-tablet:1;--xb-image-aspect-ratio-mobile:1;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Place_Holder5.png?v=1721296435'
      loading='lazy'
      alt=""
      width='840'
      height='840'
      xo-intrinsic-width='840'
      xo-intrinsic-height='840'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb942gb" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><figure
  class="xb-image xb-image--modifier-01 id_m2zlmbfb95zge" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:1;--xb-image-aspect-ratio-tablet:1;--xb-image-aspect-ratio-mobile:1;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Rectangle_276.png?v=1721296435'
      loading='lazy'
      alt=""
      width='840'
      height='840'
      xo-intrinsic-width='840'
      xo-intrinsic-height='840'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb96vyh" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:auto;" 
  
><div
  class="xb-wrapper id_m2zlmbfb97f7t" style="--xb-wld:column;--xb-wvsd:40px;--xb-whsd:15px;--xb-wvst:40px;--xb-wvsm:40px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:100%;--xb-wwt:100%;--xb-wwm:100%;--xb-wvad:center;--xb-wvat:center;--xb-wvam:center;--xb-wmhd:100%;--xb-wmht:100%;--xb-wmhm:100%;--xb-whad:center;--xb-what:center;--xb-wham:center;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <div
  class="xb-heading xb-div id_m2zlmbfb98lq4" style="--color-hover:#12b939;--line-color:#12b939;--line-height:1px;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
>
  <div
    class="xb-heading__text"
    
    text-binding="title"
    tabindex="-1"
  >
    <p>Our chocolate like a warm hug in a mug</p>
  </div>
</div>
<button
  class="xb-button xb-button--fit" style="--xb-button-gap:10px;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
  role="button"
  aria-label="Explore Our Collection"
  type="button"
  
  
>
  <span class="xb-button__content id_m2zlmbfb99oiz xb-button--modifier-01">
    
    <p>Explore Our Collection</p>
    
  </span>
</button>

  
  
</div>
</div>

</div>
<div
  class="xb-grid id_m2zlmbfb101xns" style="--xb-col-desktop:4;--xb-col-tablet:4;--xb-col-mobile:2;--xb-grid-row-desktop:1;--xb-grid-row-tablet:1;--xb-grid-row-mobile:1;--xb-layout-spacing-grid-horizontal-desktop:30px;--xb-layout-spacing-grid-horizontal-tablet:20px;--xb-layout-spacing-grid-horizontal-mobile:15px;--xb-layout-spacing-grid-vertical-desktop:30px;--xb-layout-spacing-grid-vertical-tablet:20px;--xb-layout-spacing-grid-vertical-mobile:15px;"   
>
  <div 
  xo-column 
  class="xb-column id_m2zlmbfb102wsa" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:center;" 
  
><div
  class="xb-wrapper id_m2zlmbfb103er3" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:110px;--xb-wwt:110px;--xb-wwm:110px;--xb-wvad:stretch;--xb-wvat:stretch;--xb-wvam:stretch;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-whpld:auto;--xb-whprd:auto;--xb-whplt:auto;--xb-whprt:auto;--xb-whplm:auto;--xb-whprm:auto;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_m2zlmbfb1048n1" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:220 / 220;--xb-image-aspect-ratio-tablet:220 / 220;--xb-image-aspect-ratio-mobile:220 / 220;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/logo1.png?v=1721296948'
      loading='lazy'
      alt=""
      width='220'
      height='220'
      xo-intrinsic-width='220'
      xo-intrinsic-height='220'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb105sy8" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:center;" 
  
><div
  class="xb-wrapper id_m2zlmbfb1062ql" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:235px;--xb-wwt:235px;--xb-wwm:235px;--xb-wvad:stretch;--xb-wvat:stretch;--xb-wvam:stretch;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-whpld:auto;--xb-whprd:auto;--xb-whplt:auto;--xb-whprt:auto;--xb-whplm:auto;--xb-whprm:auto;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_m2zlmbfb107ywp" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:470 / 282;--xb-image-aspect-ratio-tablet:470 / 282;--xb-image-aspect-ratio-mobile:470 / 282;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/logo2_f01cfa1a-da26-4780-a9c6-1f036d37b374.png?v=1721296957'
      loading='lazy'
      alt=""
      width='470'
      height='282'
      xo-intrinsic-width='470'
      xo-intrinsic-height='282'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb108hzr" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:center;" 
  
><div
  class="xb-wrapper id_m2zlmbfb109q6e" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:164px;--xb-wwt:164px;--xb-wwm:164px;--xb-wvad:stretch;--xb-wvat:stretch;--xb-wvam:stretch;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-whpld:auto;--xb-whprd:auto;--xb-whplt:auto;--xb-whprt:auto;--xb-whplm:auto;--xb-whprm:auto;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_m2zlmbfb110qyc" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:328 / 282;--xb-image-aspect-ratio-tablet:328 / 282;--xb-image-aspect-ratio-mobile:328 / 282;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/logo3_d586edcb-33e6-41b0-b2cf-f96676510ddb.png?v=1721296965'
      loading='lazy'
      alt=""
      width='328'
      height='282'
      xo-intrinsic-width='328'
      xo-intrinsic-height='282'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>
</div>
<div 
  xo-column 
  class="xb-column id_m2zlmbfb111r97" 
  style="--xb-span-col-desktop:1;--xb-span-col-tablet:1;--xb-span-col-mobile:1;--xb-span-row-desktop:1;--xb-span-row-tablet:1;--xb-span-row-mobile:1;--xb-column-order-desktop:0;--xb-column-order-tablet:0;--xb-column-order-mobile:0;align-self:center;" 
  
><div
  class="xb-wrapper id_m2zlmbfb112bkt" style="--xb-wld:column;--xb-wvsd:15px;--xb-whsd:15px;--xb-wvst:15px;--xb-wvsm:15px;--xb-whst:15px;--xb-whsm:15px;--xb-wwd:110px;--xb-wwt:110px;--xb-wwm:110px;--xb-wvad:stretch;--xb-wvat:stretch;--xb-wvam:stretch;--xb-whad:start;--xb-what:start;--xb-wham:start;--xb-wwrd:wrap;--xb-wwrt:wrap;--xb-wwrm:wrap;--xb-whpld:auto;--xb-whprd:auto;--xb-whplt:auto;--xb-whprt:auto;--xb-whplm:auto;--xb-whprm:auto;--xb-wz:1;--xb-wpt:relative;"   
  
>
  <figure
  class="xb-image id_m2zlmbfb1132wk" style="--xb-image-width-desktop:100%;--xb-image-width-tablet:100%;--xb-image-width-mobile:100%;--xb-image-caption-background-color:#000000;width:100%;--xb-image-aspect-ratio-desktop:220 / 220;--xb-image-aspect-ratio-tablet:220 / 220;--xb-image-aspect-ratio-mobile:220 / 220;--xb-image-object-fit:cover;" xo-animate="scroll" xo-cascade xo-duration="800" xo-type="fade-up"  
>
  
  <div 
    class="xb-image__static" 
    style="position: relative;--xb-image-mask-svg: url('https://cdn.shopify.com/s/files/1/0677/7900/2622/files/Mask_Abstract_1.svg?v=1712119221')"
  >
    <img
      class="xb-image__img"
      is='xo-lazyload'
      xo-src='https://cdn.shopify.com/s/files/1/0677/7900/2622/files/logo4.png?v=1721296971'
      loading='lazy'
      alt=""
      width='220'
      height='220'
      xo-intrinsic-width='220'
      xo-intrinsic-height='220'
      xo-fallback-width='400'
      draggable="false"
    />
    
        <div class="xb-image__overlay xo-lazyload-overlay">
          <div class="xb-image__loading" style="--xb-image-loading-background: rgba(0, 0, 0, 0.1)">
            <div
              class="xo-loader-1"
              style="--color: rgba(0, 0, 0, 1); --duration: 1300;--size: 40;"
            ><span></span></div>
          </div>
        </div>
        
  </div>
  
</figure>

  
  
</div>
</div>

</div>

  </div>

      
      
      
      
      
      
    </section>
<script src="{{ 'xb-278edc1b.min.js' | asset_url }}" defer="defer"></script>
    {% schema %}
    {
      "name": "[XB]Untitledg1",
      "settings": [
        {
          "type": "header",
          "content": "Edit this section in [XO Builder](https://admin.shopify.com/store/adv7be-zv/apps/xo-builder/app/section-editor/67259b4526c5d4b9278edc1b) app"
        }
      ]
      
  ,"presets": [
        {
          "name": "[XB]Untitledg1"
        }
      ]
  
    }
    {% endschema %}
    